$Collapse-transitionDuration: 500ms;

$Collapse-Target-negativeInfinite: -9999px;

.Collapse-Target {
  overflow: hidden;
}
.Collapse-Target-inner {
  display: none;
  overflow: hidden;
}
.is-Collapse-active .Collapse-Target-inner {
  display: block;
  transition: margin-top $Collapse-transitionDuration;
}
.is-Collapse-active-in .Collapse-Target-inner {
  margin-top: 0 !important;
}
.is-Collapse-Target-init .Collapse-Target-inner {
  display: block;
  margin-top: $Collapse-Target-negativeInfinite;
}
.is-Collapse-active.is-Collapse-Target-init .Collapse-Target-inner {
  transition: none;
}
