@import "spend/indiegogoLink";
@import "spend/logo";
@import "spend/socialLinks";

@import "spend/footer";
@import "spend/menu";

@import "spend/spendIndex";

@import "spend/promotion";

.SpendFaq,
.SpendJobs,
.SpendTeam {
  padding: 105px 0 50px !important;
}
.SpendFaq-container-header,
.SpendJobs-container-header,
.SpendTeam-container-header {
  margin-top: 0;
  margin-bottom: 36px;
}
.SpendFaq-h1,
.SpendJobs-h1,
.SpendTeam-h1 {
  margin: 0;
}
.SpendFaq-h1-p,
.SpendJobs-h1-p,
.SpendTeam-h1-p {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}
.SpendFaq-container-footer,
.SpendTeam-container-footer,
.SpendJobs-container-footer {
  margin: 50px 0 50px 0;
}

@import "spend/faq";
@import "spend/jobs";
@import "spend/legal";
@import "spend/team";
