$SpendFooter-bg: #ffffff;
$SpendFooter-link-color: #a6a6a6;
$SpendFooter-copyrights-color: #000000;
$SpendFooter-SocialLinks-link-color: #777;

.SpendFooter-LangButton {
    background-color: transparent;
    width: 200px;
    height: 37px;
    margin-top: 41px;
    border: none;
    text-align: center;
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 145px;
}
.SpendFooter-LangButton span {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 4px;
    border-bottom: solid 1px #000000;
}

.SpendFooter {
  line-height: 1;
  text-align: center;
}

.SpendFooter-mail-link {
  color: $SpendFooter-copyrights-color;
}

.SpendFooter-inner {
  background-color: $SpendFooter-bg;
}
.SpendFooter-inner-inner-inner {
  padding: 30px 8.8% 50px 8.5%;
}
.SpendFooter-Logo {
  margin-bottom: 36px;
  font-size: 35px;
  line-height: 1.2;
  margin: 30px auto;
}
.SpendFooter-Logo img {
  width: 123px;
  height: 28px;
  object-fit: contain;
}

.SpendFooter-link-items {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.8px;
}
.SpendFooter-link-items img {
    width: 20px;
    height: 16px;
}
.SpendFooter-link-item {
  margin-right: 3em;
}
.SpendFooter-link-item-last {
  margin-right: 0;
}
.SpendFooter-link {
  color: $SpendFooter-link-color;
}
.SpendFooter-copyrights {
  margin-top: 40px;
  margin-bottom: 100px;
  color: $SpendFooter-copyrights-color;
  font-family: CircularStd;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.SpendFooter-SocialLinks {
  margin-top: 25px;
  font-size: 22px;
}
.SpendFooter-SocialLinks-link {
  color: $SpendFooter-SocialLinks-link-color;
}

.SpendFooter-index-inner-inner-line {
    margin: 0 auto;
    width: 85%;
    height: 2px;
    border: solid 0.1px #d5d5d5;
    background-color: #ffffff;
    opacity: 0.5;
}

@media (min-width: $screen-md-min) {
  .SpendFooter-LangButton {
    text-align: left;
    position: absolute;
    transform: translate(-50%, 0%);
    bottom: 100px;
    left: 200px;
  }
  .SpendFooter-LangButton span {
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: solid 3px #000000;
  }
  .SpendFooter {
    line-height: $line-height-base;
    text-align: left;
  }
  .SpendFooter-index-inner {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    height: 422px;
  }
  .SpendFooter-index-inner-inner {
    max-width: none;
    margin: 0;
  }
  .SpendFooter-inner-inner-inner {
    padding: 72px 100px 89px 100px;
    @include clearfix;
  }
  .SpendFooter-index-inner-inner-line {

  }
  .SpendFooter-Logo {
    float: right;
    margin: -96px 0 0;
  }
  .SpendFooter-Logo img {
     width: 200px;
     height: 57px;
  }
  .SpendFooter-link-items {
    display: block;
    float: left;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: normal;
    position: absolute;
    bottom: 175px;
  }
  .SpendFooter-link-items img {
      width: 33.5px;
      height: 28px;
  }
  .SpendFooter-link-item {
    margin-right: 6em;
  }
  .SpendFooter-copyrights {
    clear: left;
    margin: 15px 0;
    font-size: 20px;
    letter-spacing: normal;
    font-family: CircularStd;
    font-weight: 500;
  }
  .SpendFooter-SocialLinks {
    display: block;
    margin-top: 25px;
  }
}
