.AsteraLogo {
    width: 96px;
    height: 41px;
    object-fit: contain;
}

@media (max-width: $screen-md-min) {
  .AsteraLogo {
      width: 96px;
      height: 41px;
   object-fit: contain;
  }
}


@media (max-width: $screen-sm-min) {
  .AsteraLogo {
      width: 96px;
      height: 41px;
   object-fit: contain;
  }
}
