$AsteraMenu-transitionDuration: 500ms;
$AsteraMenu-scrolling-border-color: #F3F3F3;
$AsteraMenu-scrolling-bg: rgba(#fff, 0.95);
$AsteraMenu-open-bg: #fff;
$AsteraMenu-index-Logo-forceShown-transitionDuration: 500ms;
$AsteraMenu-Logo-color: #3a3a3a;
$AsteraMenu-button-color: #3a3a3a;
$AsteraMenu-item-border-color: #d5d5d5;
$AsteraMenu-item-link-color: #383838;
$AsteraMenu-item-link-md-color: #000000;

//////////////////////////////////////////////
//
//  Screen Normal Size CSS
//
//  Desktop*
//
//////////////////////////////////////////////

.AsteraMenu-index .AsteraMenu-Logo-link {
      color: white;
}
.AsteraMenu {
  position: absolute;
  top: 27px;
  right: 0;
  left: 0;
  z-index: $AsteraMenu-z-index;
}
.AsteraMenu-Whitepaper-button {
    font-size: 20px;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-bottom: 2px;
    padding: 0px 8px 4px 8px;
    border-bottom: solid 3.6px #2bffd8;
}
.AsteraMenu-Whitepaper-text {
    font-size: 20px;
    line-height: normal;
    letter-spacing: normal;
}
.AsteraMenu-Whitepaper-LinkBlock {
    position: static;
    right: auto;
    bottom: auto;
    left: auto;
    float: left;
}
.AsteraMenu-WhitepaperLink {
    display: inline-block;
    padding-right: 32px;
    padding-left: 32px;
    text-align: left;
}

.AsteraMenu-button-bar {
  display: inline-block;
  width: 28px;
  height: 3px;
  background-color: black;
  transition-duration: 500ms;
}
.is-AsteraMenu-scrolling {
  top: 0;
  position: fixed;
  transform: translate3d(0,0,0);
}
.is-AsteraMenu-open {
      transition: none;
}
.is-AsteraMenu-open-in {
  position: absolute;
  bottom: auto;
}
.AsteraMenu-inner {
  padding: 0 8.5% 0 8.5%;
  border-bottom: 1px solid $SAFE-TRANSPARENT;
  background-color: $SAFE-TRANSPARENT;
  transition:
    border-bottom-color $AsteraMenu-transitionDuration,
    background-color $AsteraMenu-transitionDuration;
}
.is-AsteraMenu-scrolling .AsteraMenu-inner {
  border-bottom-color: $AsteraMenu-scrolling-border-color;
  background-color: $AsteraMenu-scrolling-bg;
}
.AsteraMenu-Logo-link, .is-AsteraMenu-open .AsteraMenu-Logo-link {
  color: $AsteraMenu-Logo-color !important;
}
.AsteraMenu-item-link {
  color: $AsteraMenu-item-link-md-color !important;
}
.is-AsteraMenu-open-in .AsteraMenu-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom-color: $SAFE-TRANSPARENT;
  background-color: $AsteraMenu-open-bg;
}
.AsteraMenu-inner-inner {
  width: 100%;
  margin: 0 auto;
  padding: 23px 0;

  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -10px;
}

.AsteraMenu-Bottom-line {
    max-width: 1600px;
    width: 100%;

    margin: 0 auto;
    margin-top: 13px;

    height: 2px;
    border: solid 0.1px #d5d5d5;
    background-color: #ffffff;
    opacity: 0.14;
}


.AsteraMenu-index-inner {
  max-width: 1600px;
  margin: 0 auto;

  padding: 0 10% 0 10%;
}
.AsteraMenu-index-inner-inner {
  max-width: none;
}
.AsteraMenu-Logo {

}
.AsteraMenu-Buy {
    float: left;

    width: 96px;
    height: 37px;

    margin: -3px 0px 0px 5px;
}
.AsteraMenu-Buy img{

}

.is-AsteraMenu-index-Logo-forceShown {
  display: block;
  opacity: 1;
  transition: opacity $AsteraMenu-index-Logo-forceShown-transitionDuration;
}
.is-AsteraMenu-index-Logo-forceShown-in {
  opacity: 1;
}
.is-AsteraMenu-open-in .AsteraMenu-index-Logo {
  display: block;
}
.is-AsteraMenu-open-in .is-AsteraMenu-index-Logo-forceShown {
  opacity: 1;
  transition: none;
}
.AsteraMenu-Logo-link {
  color: black;
}
.AsteraMenu-nav {
  float: right;
  height: 40px;
}
.is-AsteraMenu-open-in .AsteraMenu-nav {
  float: right;
  height: auto;
}
.AsteraMenu-button {
  display: none;
  position: relative;
  width: 28px;
  height: 33px;
  margin-top: 5px;
}
.is-AsteraMenu-scrolling .AsteraMenu-button-bar, .is-AsteraMenu-open .AsteraMenu-button-bar {
  background-color: $AsteraMenu-button-color;
}

.is-AsteraMenu-open-in .AsteraMenu-button-bar-1 {
  transform: translate3d(0,9px,0) rotateZ(45deg);
}
.is-AsteraMenu-open-in .AsteraMenu-button-bar-2 {
  opacity: 0;
}
.is-AsteraMenu-open-in .AsteraMenu-button-bar-3 {
  transform: translate3d(0,-9px,0) rotateZ(-45deg);
}
.AsteraMenu-nav-inner {
    display: block;
    float: left;
    margin-top: 15px;
}
.is-AsteraMenu-open-in .AsteraMenu-nav-inner {
  display: block;
  clear: left;
  padding: 54px 0;
}
.AsteraMenu-lists {
    float: left;
    margin-right: 0;
}

.AsteraMenu-item {
    float: left;
    border-bottom: 0;
    margin-right: 15px;

    opacity: 0.38;
    font-family: InterUI;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000 !important;
}

.AsteraMenu-item a {
    color: #000000 !important;
}

.AsteraMenu-item-link {
  display: none;
}
.AsteraMenu-SocialLinks {
  display: none;
}

//////////////////////////////////////////////
//
//  Screen Middle Size CSS
//
//  Table*
//
//////////////////////////////////////////////
@media (max-width: $screen-md-min) {
  .AsteraMenu {
    top: 25px;
  }
  .AsteraMenu-Whitepaper-button {
    font-size: 16px;
    padding: 0px 5px 2px 5px;
    border-bottom: solid 1px #2bffd8;
  }
  .AsteraMenu-Whitepaper-text {
    font-size: 16px;
  }
  .AsteraMenu-Whitepaper-LinkBlock {

  }
  .AsteraMenu-WhitepaperLink {
    display: block;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .AsteraMenu-button-bar {
    background-color: white;
  }
  .is-AsteraMenu-scrolling {
    top: 0px;
  }
  .is-AsteraMenu-open {
    transition: transform $AsteraMenu-transitionDuration;
  }
  .is-AsteraMenu-open-in {
    position: fixed;
    bottom: 0;
    transform: translate3d(0,0,0);
  }
  .is-AsteraMenu-scrolling.is-AsteraMenu-open-in {
    position: fixed;
  }
  .is-AsteraMenu-scrolling.is-AsteraMenu-index-entered,
  .is-AsteraMenu-open.is-AsteraMenu-index-entered {
    animation: none;
  }
  .AsteraMenu-inner {
    padding: 0 6% 0 6%;
  }
  .is-AsteraMenu-open-in .AsteraMenu-inner {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background-color: $SAFE-TRANSPARENT;
  }
  .is-AsteraMenu-scrolling.is-AsteraMenu-open-in .AsteraMenu-inner {
    border-bottom-color: $AsteraMenu-scrolling-border-color;
    background-color: $AsteraMenu-scrolling-bg;
  }
  .AsteraMenu-index-inner {

  }
  .AsteraMenu-inner-inner {

  }

  .AsteraMenu-index-inner-inner {

  }
  .AsteraMenu-Logo {

  }
  .is-AsteraMenu-index-Logo-forceShown {
    opacity: 1;
    transition: none;
  }
  .AsteraMenu-Buy {
      width: 77px;
      height: 33px;

      margin: -2.4px 0px 0px 3px;
  }
  .AsteraMenu-Buy img{

  }
  .AsteraMenu-nav {

  }
  .is-AsteraMenu-open-in .AsteraMenu-nav {

  }
  .AsteraMenu-button {
    display: inline-block;
  }
  .AsteraMenu-nav-inner {
    margin: -5px 0 0;
  }
  .is-AsteraMenu-open-in .AsteraMenu-nav-inner {
    clear: none;
    padding: 0;
  }
  .AsteraMenu-lists {
    float: left;
    margin-right: 0;
  }
  .AsteraMenu-nav-inner {
    margin: 15px 0 0 0;
  }
  .AsteraMenu-items {
    float: left;
  }
  .AsteraMenu-item {
    float: left;
    border-bottom: 0;
    margin-right: 15px;
  }
  .AsteraMenu-item {
      float: left;

      margin-right: 13px;

      font-size: 15px;
  }
}

//////////////////////////////////////////////
//
//  Screen Small Size CSS
//
//  *Mobile
//
//////////////////////////////////////////////

@media (max-width: $screen-sm-min) {
  .AsteraMenu {
    top: 23px;
  }
  .AsteraMenu-Whitepaper-button {
    font-size: 10.8px;
    padding: 0px 5px 2px 5px;
    border-bottom: solid 1px #2bffd8;
  }
  .AsteraMenu-Whitepaper-text {
    font-size: 10.8px;
  }
  .AsteraMenu-Whitepaper-LinkBlock {

  }
  .AsteraMenu-WhitepaperLink {
    display: block;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .AsteraMenu-button-bar {
    background-color: white;
  }
  .is-AsteraMenu-scrolling {
    top: 0px;
  }
  .is-AsteraMenu-open {
    transition: transform $AsteraMenu-transitionDuration;
  }
  .is-AsteraMenu-open-in {
    position: fixed;
    bottom: 0;
    transform: translate3d(0,0,0);
  }
  .is-AsteraMenu-scrolling.is-AsteraMenu-open-in {
    position: fixed;
  }
  .is-AsteraMenu-scrolling.is-AsteraMenu-index-entered,
  .is-AsteraMenu-open.is-AsteraMenu-index-entered {
    animation: none;
  }
  .AsteraMenu-inner {

  }
  .is-AsteraMenu-open-in .AsteraMenu-inner {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background-color: $SAFE-TRANSPARENT;
  }
  .is-AsteraMenu-scrolling.is-AsteraMenu-open-in .AsteraMenu-inner {
    border-bottom-color: $AsteraMenu-scrolling-border-color;
    background-color: $AsteraMenu-scrolling-bg;
  }
  .AsteraMenu-index-inner {

  }
  .AsteraMenu-inner-inner {
    padding: 5px 0;
  }
  .AsteraMenu-index-inner-inner {

  }
  .AsteraMenu-Logo {

  }
  .is-AsteraMenu-index-Logo-forceShown {
    opacity: 1;
    transition: none;
  }
  .AsteraMenu-nav {
      display: none;
  }
  .is-AsteraMenu-open-in .AsteraMenu-nav {

  }
  .AsteraMenu-button {
    display: inline-block;
  }
  .AsteraMenu-nav-inner {
    margin: 4px 0 0;
    text-align: center;
  }
  .is-AsteraMenu-open-in .AsteraMenu-nav-inner {
    clear: none;
    padding: 0;
  }
  .AsteraMenu-lists {
    float: left;
    margin-right: 0;
  }
  .Asteraenu-items {
    float: left;
  }
  .AsteraMenu-item {
    float: left;
    border-bottom: 0;
    margin-right: 30px;
  }
}
