$SpendMenu-transitionDuration: 500ms;
$SpendMenu-scrolling-border-color: #F3F3F3;
$SpendMenu-scrolling-bg: rgba(#fff, 0.95);
$SpendMenu-open-bg: #fff;
$SpendMenu-index-Logo-forceShown-transitionDuration: 500ms;
$SpendMenu-Logo-color: #3a3a3a;
$SpendMenu-button-color: #3a3a3a;
$SpendMenu-item-border-color: #d5d5d5;
$SpendMenu-item-link-color: #383838;
$SpendMenu-item-link-md-color: #000000;

//$SpendMenu-index-md-anim: slideDown 1s 575ms both;

.SpendMenu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $SpendMenu-z-index;
}
.is-SpendMenu-scrolling {
  position: fixed;
  transform: translate3d(0,0,0);
}
.is-SpendMenu-open {
  transition: transform $SpendMenu-transitionDuration;
}
.is-SpendMenu-open-in {
  position: fixed;
  bottom: 0;
  transform: translate3d(0,0,0);
}
.SpendMenu-inner {
  padding: 0 7% 0 8.5%;
  border-bottom: 1px solid $SAFE-TRANSPARENT;
  background-color: $SAFE-TRANSPARENT;
  transition:
    border-bottom-color $SpendMenu-transitionDuration,
    background-color $SpendMenu-transitionDuration;
}
.is-SpendMenu-scrolling .SpendMenu-inner {
  border-bottom-color: $SpendMenu-scrolling-border-color;
  background-color: $SpendMenu-scrolling-bg;
}
.SpendMenu-Logo-link, .is-SpendMenu-open .SpendMenu-Logo-link {
  color: $SpendMenu-Logo-color !important;
}
.SpendMenu-item-link {
  color: $SpendMenu-item-link-md-color !important;
}
.is-SpendMenu-open-in .SpendMenu-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom-color: $SAFE-TRANSPARENT;
  background-color: $SpendMenu-open-bg;
}
.SpendMenu-inner-inner {
  width: 100%;
  margin: 0 auto;
  padding: 4px 0;
}
.SpendMenu-Logo {
  font-size: 33px;
}
.is-SpendMenu-index-Logo-forceShown {
  display: block;
  opacity: 1;
  transition: opacity $SpendMenu-index-Logo-forceShown-transitionDuration;
}
.is-SpendMenu-index-Logo-forceShown-in {
  opacity: 1;
}
.is-SpendMenu-open-in .SpendMenu-index-Logo {
  display: block;
}
.is-SpendMenu-open-in .is-SpendMenu-index-Logo-forceShown {
  opacity: 1;
  transition: none;
}
.SpendMenu-Logo-link {
  color: black;
}
.SpendMenu-nav {
  float: right;
  height: 40px;
}
.is-SpendMenu-open-in .SpendMenu-nav {
  float: none;
  height: auto;
}
.SpendMenu-button {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 33px;
  margin-top: 5px;
}
.SpendMenu-button-bar {
  display: inline-block;
  width: 28px;
  height: 3px;
  background-color: black;
  transition-duration: 500ms;
}
.is-SpendMenu-scrolling .SpendMenu-button-bar, .is-SpendMenu-open .SpendMenu-button-bar {
  background-color: $SpendMenu-button-color;
}

.is-SpendMenu-open-in .SpendMenu-button-bar-1 {
  transform: translate3d(0,9px,0) rotateZ(45deg);
}
.is-SpendMenu-open-in .SpendMenu-button-bar-2 {
  opacity: 0;
}
.is-SpendMenu-open-in .SpendMenu-button-bar-3 {
  transform: translate3d(0,-9px,0) rotateZ(-45deg);
}
.SpendMenu-nav-inner {
    display: block;
    float: left;
    margin: 10px 0 0;
}
.is-SpendMenu-open-in .SpendMenu-nav-inner {
  display: block;
  clear: left;
  padding: 54px 0;
}
.SpendMenu-lists {

}
.SpendMenu-item {
  border-bottom: 1px solid $SpendMenu-item-border-color;
}
.SpendMenu-item-link {
  display: block;
  padding: 0 11px;
  color: $SpendMenu-item-link-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 2.4;
}
.SpendMenu-SocialLinks {
  margin: 32px 22px 0;
  font-size: 26px;
}
.SpendMenu-Indiegogo-LinkBlock {

}
.SpendMenu-IndiegogoLink {
  display: block;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

.SpendMenu-indiegogo-button {
    font-family: CircularStd;
    font-size: 8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-bottom: 2px;
    border-bottom: solid 1px #2bffd8;
    padding: 0px 5px 2px 5px;
}
.SpendMenu-indiegogo-text {
    font-family: CircularStd;
    font-size: 8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

/*.SpendMenu-items li:last-child > a {

}
.SpendMenu-items li:last-child {
  display: none;
}*/

@media (min-width: $screen-md-min) {
  .SpendMenu-items li:last-child {
    display: block;
  }
  .SpendMenu {
    top: 27px;
  }
  .SpendMenu-index .SpendMenu-Logo-link, .SpendMenu-index .SpendMenu-item-link {
    color: white;
  }

  .SpendMenu-indiegogo-button {
      font-size: 20px;
      padding: 0px 8px 4px 8px;
      border-bottom: solid 3.6px #2bffd8;
  }
  .SpendMenu-indiegogo-text {
      font-size: 20px;
  }
  .SpendMenu-button-bar {
    background-color: white;
  }
  .is-SpendMenu-scrolling {
    top: 0;
    transform: translate3d(0,0,0);
  }
  .is-SpendMenu-open {
    transition: none;
  }
  .is-SpendMenu-open-in {
    position: absolute;
    bottom: auto;
  }
  .is-SpendMenu-scrolling.is-SpendMenu-open-in {
    position: fixed;
  }
  /*
  @include enter("SpendMenu-index", $SpendMenu-index-md-anim);
  .SpendMenu-index.is-SpendMenu-scrolling,
  .SpendMenu-index.is-SpendMenu-open {
    visibility: visible;
  }
  */
  .is-SpendMenu-scrolling.is-SpendMenu-index-entered,
  .is-SpendMenu-open.is-SpendMenu-index-entered {
    animation: none;
  }
  .SpendMenu-inner {
    padding: 0;
  }
  .is-SpendMenu-open-in .SpendMenu-inner {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background-color: $SAFE-TRANSPARENT;
  }
  .is-SpendMenu-scrolling.is-SpendMenu-open-in .SpendMenu-inner {
    border-bottom-color: $SpendMenu-scrolling-border-color;
    background-color: $SpendMenu-scrolling-bg;
  }
  .SpendMenu-index-inner {
    max-width: 1600px;
    margin: 0 auto;
  }
  .SpendMenu-inner-inner {
    width: 85%;
    padding: 16px 0;
  }
  .SpendMenu-index-inner-inner {
    max-width: none;
  }
  .is-SpendMenu-index-Logo-forceShown {
    opacity: 1;
    transition: none;
  }

  .is-SpendMenu-open-in .SpendMenu-nav {
    float: right;
    height: auto;
  }
  .SpendMenu-button {
    display: none;
  }
  .SpendMenu-nav-inner {
    display: block;
    float: left;
    margin: -5px 0 0;
  }
  .is-SpendMenu-open-in .SpendMenu-nav-inner {
    clear: none;
    padding: 0;
  }
  .SpendMenu-lists {
    float: left;
    margin-right: 0;
  }
  .SpendMenu-items {
    float: left;
  }
  .SpendMenu-item {
    float: left;
    border-bottom: 0;
    margin-right: 30px;
  }
  .SpendMenu-item-link {
    display: inline;
    padding: 0;
    color: #171717;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1875;
  }
  .SpendMenu-SocialLinks {
    display: none;
  }
  .SpendMenu-Indiegogo-LinkBlock {
    position: static;
    right: auto;
    bottom: auto;
    left: auto;
    float: left;
  }
  .SpendMenu-IndiegogoLink {
    display: inline-block;
    padding-right: 32px;
    padding-left: 32px;
    text-align: left;
  }
}
