$SpendIndex-gallery-border: #1D1D1D;

$SpendIndex-h1-Logo-color: #3a3a3a;
$SpendIndex-Form-border-color: #d8d8d8;
$AsteraIndex-Form-email-placeholder-color: #363636;
$SpendIndex-Form-MessageBoard-color: #636363;
$SpendIndex-Form-MessageBoard-success-color: #5692ff;
$SpendIndex-Form-MessageBoard-error-color: #e85353;

$SpendIndex-contactless-bg: #fff;
$SpendIndex-contactless-h2-color: #686d6b;
$SpendIndex-contactless-h2-p-color: #999;
$SpendIndex-contactless-article-color: #5b6964;

$SpendIndex-physicalCards-bg: #fff;
$SpendIndex-physicalCards-article-color: #737373;

$SpendIndex-design-bg: #000;
$SpendIndex-design-h2-color: white;
$SpendIndex-design-p-color: #999;

$SpendIndex-measure-bg: #fff;
$SpendIndex-measure-h2-color: #73787b;
$SpendIndex-measure-numbers-big-color: #73787b;
$SpendIndex-measure-numbers-more-color: #73787b;

.AsteraIndex-Form-email::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #363636; opacity:0.8;
}
.AsteraIndex-Form-email:-moz-placeholder, textarea:-moz-placeholder {
  color: #363636; opacity:0.8;
}
.AsteraIndex-Form-email::-moz-placeholder, textarea::-moz-placeholder {
  color: #363636; opacity:0.8;
}
.AsteraIndex-Form-email:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #363636; opacity:0.8;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.5;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.5;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

//////////////////////////////////////////////
//
//  Screen Normal Size CSS
//
//  Desktop*
//
//////////////////////////////////////////////

/* Index CSS */

.AsteraIndex-container {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  line-height: 0;
}
.AsteraIndex-index {
  height: 1211px;
  background-color: #e7f4f4;
}
.AsteraIndex-Index-Inder {

}
.AsteraIndex-text-h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: normal;
  color: black;
  padding-top:30px;
  position: relative;
}
[lang="ko"] .AsteraIndex-text-h1 {
  font-weight: 500;
}
.AsteraIndex-text-p {
  font-size: 35px;
  line-height: 1.26;
  color: black;
  position: relative;
  margin: 0;
  display: inline-block;
}
[lang="ko"] .AsteraIndex-text-p {
  line-height: 1.4;
}

.AsteraIndex-text-p-oval {
  width: 100%;
  height: 25%;
  background-color: rgba(248,231,28,.18);
  border-radius: 50%;
  position: absolute;
  bottom: -3%;
}

[lang="ko"] .AsteraIndex-text-p-oval {
  bottom: 25%;
}

.AsteraIndex-Main {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  height: 910px;
  background-color: white;
}
.AsteraIndex-inner {

}
.AsteraIndex-content {
  position: absolute;
  right: 0;
  top: 160px;
  left: 7.5%;
  z-index: 10;
  text-align: left;
}
.AsteraIndex-text-group {
  position: relative;
  margin-bottom: 58px
}

.AsteraIndex-Main-Circle {
  position:absolute;
  top: 10%;
  right: 0%;
  display:inline-block;
  z-index: -1;
}
.AsteraIndex-Main-Circle img {
    width: 600px;
}

/* descrip CSS */

.AsteraIndex-descrip {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  height: 1211px;
  background-color: #e7f4f4;
  padding-top: 1px;
}
.AsteraIndex-descrip-text-group {
  position: absolute;
  text-align: center;
  width: 680px;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.AsteraIndex-descrip-hardware {
  margin: 0 auto;
  display: block;
}
.AsteraIndex-descrip-hardware img {
  position: absolute;
  width: 855px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.AsteraIndex-descrip-text-h1 {
  font-size: 57px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1578947368421053;
  letter-spacing: normal;
  color: #3a3a3a;
  opacity: 0.6296988224637681;
}

/* Subscribe CSS */

.AsteraIndex-subscrib-text-group {
  text-align: center;
  margin-top: 80px;
  margin: 0 auto;
}
.AsteraIndex-subscrib {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  height: 400px;
  background-color: #ffffff;
  padding: 20px;
}
.AsteraIndex-subscrib-inner {
  top: 100px;
}
.AsteraIndex-subscrib-h1 {
  font-size: 42px;
  color: #000000;
  margin-bottom: 30px;
}

/* Form CSS */

.AsteraIndex-Form-group {
  width: 600px;
  position: relative;
  top: 45px;
}
.AsteraIndex-Form-group.center {
  width: 600px;
  margin: 0 auto;
}
.AsteraIndex-Form {
  border-radius: 17px;
  box-shadow: 0 19px 37px 0 rgba(0, 0, 0, 0.05);
}
.AsteraIndex-Form-email {
  text-align: left;
  width: 75%;
  height: 88px;
  padding: 0px 37px;

  color: #363636;
  font-size: 23px;

  border: solid 1px #f3f3f3;
  border-radius: 17px 0 0 17px;
  background-color: #ffffff;

  line-height: 1.5;
}
.AsteraIndex-Form-email:focus {
  outline: 0;
}
.AsteraIndex-Form-email::-moz-placeholder,
.AsteraIndex-Form-email:-ms-input-placeholder,
.AsteraIndex-Form-email::-webkit-input-placeholder {
  color: $AsteraIndex-Form-email-placeholder-color;
  opacity: 0.8;
}
.AsteraIndex-Form-submit {
  width: 25%;
  height: 88px;
  line-height: 49px;
  border-radius: 0 17px 17px 0;
  background-color: rgba(63,78,132,.1);
  vertical-align: top;
  border: 0;
}
.AsteraIndex-Form-submit-text {
  font-size: 25px;
  text-align: center;
  color: #000000;
}
.SpendIndex-Form-MessageBoard-success,
.SpendIndex-Form-MessageBoard-error {
  font-weight: 400;
}
.SpendIndex-Form-MessageBoard-success {
  color: $SpendIndex-Form-MessageBoard-success-color;
}
.SpendIndex-Form-MessageBoard-error {
  color: $SpendIndex-Form-MessageBoard-error-color;
}

/* ECT */



//////////////////////////////////////////////
//
//  Screen Middle Size CSS
//
//  Table*
//
//////////////////////////////////////////////

@media (max-width: $screen-md-min) {

  /* Index CSS */

  .AsteraIndex-Main {
    height: 600px;
  }
  .AsteraIndex-text-group {
    margin-bottom: 25px;
  }
  .AsteraIndex-text-h1 {
    font-size: 35px;
  }
  .AsteraIndex-text-p {
    font-size: 24px;
  }
  .AsteraIndex-text-p-oval {

  }

  .AsteraIndex-Main-Circle {
    top:0%;
  }

  .AsteraIndex-Main-Circle img {
    width: 300px;
  }

  /* descrip CSS */

  .AsteraIndex-descrip {
    height: 608px;
  }
  .AsteraIndex-descrip-hardware {

  }
  .AsteraIndex-descrip-hardware img {
    width: 500px;
  }
  .AsteraIndex-descrip-text-h1 {
    font-size: 31.4px;
  }
  .AsteraIndex-descrip-text-group {
    width: 380px;
    bottom: 68%;
  }

  /* Subscribe CSS */

  .AsteraIndex-subscrib {
    height: 230px;
  }
  .AsteraIndex-subscrib-h1 {
    font-size: 23px;
    margin-bottom: 15px;
  }

  /* Form CSS */

  .AsteraIndex-Form {
    border-radius: 6px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.05);
  }

  .AsteraIndex-Form-group {
    top: 21px;
    width: 400px;
  }
  .AsteraIndex-Form-group.center {
    width: 400px;
    margin: 0 auto;
  }
  .AsteraIndex-Form-email {
    height: 52px;
    padding: 0px 14px;
    font-size: 12px;
    border: solid 1px #f3f3f3;
    border-radius: 6px 0 0 6px;
  }
  .AsteraIndex-Form-submit {
    height: 52px;
    line-height: 20px;
    border-radius: 0 6px 6px 0;
  }
  .AsteraIndex-Form-email {

  }
  .AsteraIndex-Form-submit-text {
     font-size: 12.7px;
  }

  /* ETC */

}

//////////////////////////////////////////////
//
//  Screen Small Size CSS
//
//  *Mobile
//
//////////////////////////////////////////////

@media (max-width: $screen-sm-min) {

  /* Index CSS */

  .AsteraIndex-Main {
    height: 350px;
  }
  .AsteraIndex-content {
    left: none;
    top: 45px;
  }
  .AsteraIndex-text-group {
    margin-bottom: 0px;
  }
  .AsteraIndex-Main-Circle {
    display:none;
  }
  .AsteraIndex-text-h1 {
    font-size: 25px;
  }
  .AsteraIndex-text-p {
    font-size: 17px;
  }

  [lang="ko"] .AsteraIndex-text-h1 {
      font-size: 21px;
  }
  [lang="ko"] .AsteraIndex-text-p {
      font-size: 15px;
  }
  .AsteraIndex-text-p-oval {
    height: 18px;
    bottom: -3px;
  }

  /* descrip */
  .AsteraIndex-descrip {
    height: 408px;
  }
  .AsteraIndex-descrip-hardware {

  }
  .AsteraIndex-descrip-hardware img {
    width: 302px;
  }
  .AsteraIndex-descrip-text-h1 {
    font-size: 20px;
  }
  .AsteraIndex-descrip-text-group {
    width: 320px;
    bottom: 65%;
  }
  /* Subscribe */
  .AsteraIndex-subscrib {
    height: 200px;
  }
  .AsteraIndex-subscrib-h1 {
    font-size: 18.9px;
    margin-bottom: 0px;
  }
  .AsteraIndex-subscrib-text-group {
    width: 210px;
    margin-top: 0px;
  }

  /* Form CSS */

  .AsteraIndex-Form {
    border-radius: 6px;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.05);
  }
  .AsteraIndex-Form-group {
    top: 20px;
    width: 93%;
  }
  .AsteraIndex-Form-group.center {
    width: 93%;
    margin: 0 auto;
  }
  .AsteraIndex-descrip-text-group {
      margin-top: 160px;
  }
  .AsteraIndex-Form-email {
    padding: 0px 20.8px;
    font-size: 12.8px;
    border: solid 1px #f3f3f3;
    border-radius: 8px 0 0 8px;
  }
  .AsteraIndex-Form-submit {
    line-height: 20px;
    border-radius: 0 8px 8px 0;
  }
  .AsteraIndex-Form-email {

  }
  .AsteraIndex-Form-submit-text {
     font-size: 12.7px;
  }

  /* ETC */

}
